RewriteEngine On

# Force HTTPS redirection
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect 404 errors to custom 404 page
ErrorDocument 404 /404.html
